<!DOCTYPE html>
<html lang="es">
  <head>
<% include partials/plantillas/head.ejs %> 
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Cine Chileno</h1>
            <p>Un total de <%= largo.length + docu.length + corto.length + animacion.length %> Peliculas </p>
            <small><%=largo.length%> Largometrajes de Ficción, <%=docu.length%> documentales, <%=corto.length%> cortometrajes, <%=animacion.length%> películas de animación</small>
            <hr>
<%-
      barChartHelper.getBarChart({
        data: largo,
        width: 600,
        height: 300,
        xAxisLabel: 'Tipo',
        yAxisLabel: 'Cantidad',
        containerId: 'bar-chart-small'
      })
    %> 

          </div>
          <div class="row">

      <% for (var i in largo) {  %>

            <div class="col-xs-6 col-lg-4">
              <h3><a href="/pelicula/<%= largo[i].id%>" title="<%= largo[i].name %>"><%= largo[i].name %></a></h3>
              <p><%= largo[i].anio %> - <%= largo[i].formato %> </p>
              <p><a class="btn btn-default" href="#" role="button">Ver detalle &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->

      <% } %>

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            
            <a href="#" class="list-group-item active">Ficción</a>
            <a href="#" class="list-group-item">Documental</a>
            <a href="#" class="list-group-item">Cortometrajes</a>
            <a href="#" class="list-group-item">Animación</a>
            <a href="#" class="list-group-item">Experimental</a>

          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
      <hr>
      <footer>
<% include partials/plantillas/footer.ejs %> 
      </footer>

    </div><!--/.container-->
<% include partials/plantillas/jsdefault.ejs %> 
  </body>
</html>
